body { background: pink;
       color: black;
       font-size: 14pt; }
       body { font-family: 'Roboto Condensed', sans-serif; }
       h1 { font-size: 400%;
     font-weight: bold;
     color: darkcyan }
     a { color: red;
    text-decoration: none }
a:hover { color: darkcyan }

